<%- include('partials/header') %>


<div class="home-div">
  <button onclick="location.href = '/register';" type="button" class = "expanding-button" name="button">
    <span class = "button-text">
      In Progress...
    </span>
  </button>

</div>

<%- include('partials/footer') %>
